
@{
    // Copy Right  Aziz Mobarak 2019
    
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error : Not Found</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
