@{
    // Copy Right  Aziz Mobarak 2019


    Layout = "~/Views/Shared/_Viewaccount.cshtml";
    ViewBag.Title = "Register";
} 
<style>
    .inp{
        width:300px;
        height:40px;
    } 
</style>
<div id="registerpanel">
    <h1 class="titlepage" style="color:#1A0B68;margin-left:350px"><strong>Create New Acoount</strong></h1>
    <br />
    <p style="background-color:white;position:absolute;font-size:22px;color:red;font-style:oblique;margin:100px 460px 10px;">@ViewBag.errormessage</p>
    @using (Html.BeginForm("New_Account", "Account"))
    {
        <table style="opacity:.8;background-color:#00046B" id="register_form">
            <tr>
                <td><input style="font-size:18px;" id="name" class="inp" type="text" name="FirstName" placeholder=" Your Name .." /></td>
            </tr>
            <tr>
                <td><input style="font-size:18px;" id="lastname" class="inp" type="text" name="LastName" placeholder=" Your Family Name .." /></td>
            </tr>
            <tr>
                <td><input style="font-size:18px;" id="email" class="inp" type="email" name="Email" placeholder=" Email .." /></td>
            </tr>
            <tr>
                <td><input style="font-size:18px;" id="confirmemail" class="inp" type="email" name="confirmemail" placeholder=" Confirm Your Email .." /></td>
            </tr>
            <tr>
                <td><textarea  placeholder="Write something about you" name="bio" style="font-size:16px;width:390px;height:80px;margin-left:50px" rows="3" cols="50"></textarea></td>
            </tr>

        </table>
        <!--Second Table-->
        <table style="opacity:.8;background-color:#00046B" id="register_form2">
            <tr>

                <td><input style="font-size:18px;" id="password" class="inp" type="password" name="PassWord" placeholder=" Pass Word .." /></td>
            </tr>
            <tr>
                <td><input style="font-size:18px;" id="confirmpassword" class="inp" type="password" name="confirmpassword" placeholder=" Confirm Pass Word .." /></td>
            </tr>
            <tr>
                <td><input style="font-size:18px;" id="city" class="inp" type="text" name="city" placeholder=" Your City..." /></td>
            </tr>
            <tr>
                <td><input style="font-size:18px;" id="tele" class="inp" type="text" name="tele" placeholder=" Your Phone Number..." /></td>
            </tr>
            <tr>

                <td><select style="font-size:18px;height:30px;margin-left:200px" name="Age" id="ageselect"><option>Age</option></select></td>
            </tr>
            <tr>
                <td><select style="font-size:18px;height:30px;margin-left:200px" name="Gender" id="sex"><option>Gender</option><option>Man</option><option>Woman</option><option>Autre</option></select></td>
            </tr>
        </table>
        <button type="button" onclick="document.getElementById('nextstep').style.display = 'block';" style="position:absolute;margin:580px 200px 10px;background-color:blue;color:white;font-size:22px;width:250px;height:40px">Next</button>




        <div id="nextstep" style="display:none;position:absolute;margin:100px 70px 10px;width:1100px ;height:650px;background-color:white">
            <table id="interests" style=" margin:20px 60px 10px;width:900px;">
                <tr>
                    <td id="Animals" onclick="tags('Animals')" style="background-color:red;"> <img class="confirm" src="~/images/confirm.jpg" />Animals</td>
                    <td id="Technology" onclick="tags('Technology')" style="background-color:blue"><img class="confirm" src="~/images/confirm.jpg" />Technology</td>
                    <td id="Sport" onclick="tags('Sport')" style="background-color:yellowgreen"><img class="confirm" src="~/images/confirm.jpg" />Sports</td>
                    <td id="Accessoir" onclick="tags('Accessoir')" style="background-color:cyan"><img class="confirm" src="~/images/confirm.jpg" />Accessoir</td>
                </tr>
                <tr>
                    <td id="Food" onclick="tags('Food')" style="background-color:lightskyblue;"><img class="confirm" src="~/images/confirm.jpg" />Food</td>
                    <td id="Education" onclick="tags('Education')" style="background-color:grey"><img class="confirm" src="~/images/confirm.jpg" />Education</td>
                    <td id="Arts" onclick="tags('Arts')" style="background-color:darkslategrey"><img class="confirm" src="~/images/confirm.jpg" />Arts</td>
                    <td id="Fashion" onclick="tags('Fashion')" style="background-color:saddlebrown"><img class="confirm" src="~/images/confirm.jpg" />Fashion</td>
                </tr>
                <tr>
                    <td id="Nature" onclick="tags('Nature')" style="background-color:chartreuse"><img class="confirm" src="~/images/confirm.jpg" />Nature</td>
                    <td id="Culture" onclick="tags('Culture')" style="background-color:orange"><img class="confirm" src="~/images/confirm.jpg" />Culture</td>
                    <td id="Religion" onclick="tags('Religion')" style="background-color:deepskyblue"><img class="confirm" src="~/images/confirm.jpg" />Religions</td>
                    <td id="Scince" onclick="tags('Scince')" style="background-color:salmon"><img class="confirm" src="~/images/confirm.jpg" />Science</td>

                </tr>
                <tr>
                    <td id="Humans" onclick="tags('Humans')" style="background-color:#016308"><img class="confirm" src="~/images/confirm.jpg" />Humans</td>
                    <td id="Laws" onclick="tags('Laws')" style="background-color:#4C6301"><img class="confirm" src="~/images/confirm.jpg" />Laws</td>
                    <td id="Politic" onclick="tags('Politic')" style="background-color:#016348"><img class="confirm" src="~/images/confirm.jpg" />Politics</td>
                    <td id="LifeStyle" onclick="tags('LifeStyle')" style="background-color:#11D66D"><img class="confirm" src="~/images/confirm.jpg" />Life Style</td>

                </tr>
                <tr>
                    <td id="History" onclick="tags('History')" style="background-color:#1CBE92"><img class="confirm" src="~/images/confirm.jpg" />History</td>
                    <td id="Experiences" onclick="tags('Experiences')" style="background-color:#A311D6"><img class="confirm" src="~/images/confirm.jpg" />Experiences</td>
                    <td id="Locations" onclick="tags('Locations')" style="background-color:#8D3B1D"><img class="confirm" src="~/images/confirm.jpg" />Locations</td>
                    <td id="Love" onclick="tags('Love')" style="background-color:#63014C"><img class="confirm" src="~/images/confirm.jpg" />Love</td>

                </tr>
            </table>

            <!--Text area for interesting tags-->
            <textarea placeholder="   Tags .." cols="20" rows="4" name="tags" id="tags" type="text" style="border:2px solid red;font-size:16px;font-style:oblique ;margin:400px 100px 10px;height:80px;width:800px;position:absolute;"></textarea>

            <!--Btn register-->
            <input id="btnregister" style="margin:520px 450px 10px;background-color:#016308;height:40px" type="submit" value="Register" />
            <button type="button" onclick="document.getElementById('nextstep').style.display = 'none';" style="position:absolute;margin:520px 770px 10px;background-color:blue;color:white;font-size:22px;width:150px;">Back</button>
        </div>
    }

    @using (Html.BeginForm("tologin", "Account"))
    {
        <p style="position:absolute;margin:620px 180px 20px;">Already have an account ? Login <button style="border:none;background-color:white;color:#016308;font-size:18px;">Here</button> </p>

    }
</div>

    <script>
        //insert tags into tag text space
        var q = 0; var re = "";
        var tab;
        tab = new Array();
        var tag = document.getElementById('tags');
        function tags(id) {
            tag.value = tag.value + id + ",";
            document.getElementById(id).style.backgroundColor = "white";
        }
        ////////
        var age = document.getElementById('ageselect');
        for (var i = 18; i < 110; i++) {
            var h = "<select><option>" + i + "</option></select>";
            age.innerHTML = age.innerHTML + h;
        }

      


            //function to verify register controls


    </script>


