
@{
    Layout = null;
    System.Data.DataTable dt = new System.Data.DataTable();
    dt = (System.Data.DataTable)ViewData["followed"];
    publishfan.Models.publishedby pb = new publishfan.Models.publishedby();
    int j = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Followedlist</title>
</head>
<body>
    <div> 
        @{ if (ViewBag.message == "")
            {
               
        <h1 style="margin:20px 500px 10px;color:rebeccapurple;font-size:30px;"><strong>Followed List</strong></h1>
        <table style="margin:100px 200px 10px;width:70%;">
            @foreach (System.Data.DataRow dr in dt.Rows)
            {
            <tr>
                <td>
                    <label style="font-size:24px;">@j.ToString() -</label>
                </td>
                <td>
                    <img style="margin:0px 0px 0px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;border-top-right-radius:50px;border-top-left-radius:50px;width:60px;height:60px;" src="@pb.publisherimage(dr[0].ToString())" />
                </td>
                <td>
                    <label style="margin-left:30px;color:blue;font-size:24px;">@pb.publisher(dr[0].ToString())</label>
                </td>
                <td>
                    <label style="margin-left:30px;color:red;font-size:24px;">FOLLOWED</label>
                </td>
            </tr>
                j++;
            }
        </table>
            }
            else
            {
                <div>
                    <h1 style="margin:300px 300px 10px;color:rebeccapurple;font-size:60px;">@ViewBag.message</h1>
                </div>
            }
            }
    </div>
</body>
</html>
