<!--Copy Right  Aziz Mobarak 2019-->
<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <connectionStrings>
    <!--Change the data location in the local server to run project-->
    <add name="con" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=mydata;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>
